{{ template "_head.html" . }}

<div class="timeline">
  {{ range  $key, $value := .Tasks }}
    <div class="note" id="{{ .ID }}">
        <p class="noteHeading "> {{ $value.Title }} 
        </p> <span class="toggle glyphicon glyphicon-resize-full"></span>

        <span class="noteContent">
            {{ $value.Content }}
                 <div class="commentslist">
		 {{ range $value.Comments }}
                    <div class="comment">
                        <span>{{ .Content  }}</span>
                        <span class="timestamp">{{ .Author }} {{ .Created }}</span>
                        <a href="/del-comment/{{ .ID }}"><span class="glyphicon glyphicon-trash timestamp"></span></a>
                    </div> 
                   {{ end }}
                    
                    <div class="comment">
                        <form method="POST" action="/add-comment/">
                        <textarea rows="2" cols="75" name="commentText" placeholder="Add Comment"></textarea>
                        <input type="text" class="hidden" name="taskID" value="2">
                        <input type="submit" value="Comment" class="btn btn-primary" />
                        </form> 
                    </div>
                 </div>
        </span>

        <span class="notefooter">
        <ul class="menu">
          <li role="presentation">Priority: 3</li>
          <li role="presentation">
              <span class="glyphicon glyphicon-time"></span> {{ .Created }}</li> 
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/trash/1">
                <span class="glyphicon glyphicon-trash"></span></a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/complete/1">
                <span class="glyphicon glyphicon-check"></span></a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/edit/1">
                <span class="glyphicon glyphicon-pencil"></span></a>
        </li>
        <li role="presentation">
              <a href="/category/dummy"> dummy</a>
          </li>
        </ul>
        </span>
    </div>
	{{ end }}
    
<!-- this should be displayed when the tasks list is empty
    <div class="note">
        <p class="noteHeading">No Tasks here</p>
        <p class="notefooter">Create new task
            <button class="floating-action-icon-add" >
                here </button>
        </p>
    </div>
-->
</div>

{{ template "_foot.html" . }}
